*{ text-align: center;}
.a{ margin-left: -40;
margin-top: +100;
color: brown;}
h3{ color: red;}
.b{color: red;}
.c{color: red;}
.d{color: red;}
.e{background-color: rgb(0, 174, 255);}
.f{background-color: rgb(12, 1, 1); color: blanchedalmond;}
.g{text-align: left;}
.h{text-align: right;}